$primary-bg : rgb(255, 255, 255);
$secondary-bg : rgb(47, 128, 236);
$caption-colour : rgb(28, 34, 45);
$font-colour : rgb(202,205,209);
$accent-red : rgb(255,75,75);
$chat-bg : rgb(247,248,252);
$body-bg : rgb(90, 99, 113);
$highlight :  rgb(47, 128, 236, .6);
$profile-bg : rgba(242,243,257, 1);
$receipient-text : rgb(28, 34, 45, .5);