@import 'colours';
@import 'variables';


*::-webkit-scrollbar {
    width: 8px;
    background: #f5f5f5;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background: white;
    box-shadow: inset 0 0 5px rgba(0,0,0,.5);
}

*::-webkit-scrollbar-thumb {
    background: $caption-colour;
    border-radius: 10px;
    width: 8px;
}

*::-webkit-scrollbar-button {
    display: none;
}


// %recipient {
//     float: left;
//     text-align: left;
//     background: $primary-bg ;
// }

div.slides {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 150px;
    grid-auto-flow: column;
    gap: 10px;
    padding-left: 20px;
    margin-bottom: 20px;

    div.slide {
        position: relative;
        width: 100px;
        height: 150px;
        border-radius: 10px;
        box-shadow: 20px 20px 40px rgba($color: #000000, $alpha: 0.1), 0px 0px 20px rgba($color: #000000, $alpha: 0.1);
        padding: 0 10px;
        font-size: 0.9em;   

        h5{
            min-height: 30px;
        }

        div.pic {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 0 10px;
            background: $chat-bg;
            overflow: hidden;
            transform: translateY(-50%);
    
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        p.lastSeen {
            font-size: 0.7em;
            margin: 5px 0 10px;
        }

        div.convo{
            min-width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // line-height: 30px;

            .videoCall {
                background: $secondary-bg;
                border-radius: 5px;
                height: 28px;
                width: 28px;
                text-align: center;
                
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .videoCall:hover {
                cursor: pointer;
            }

            p {
                font-size: 1.5em;
            }

            p:hover {
                color: $secondary-bg;
                transform: scale(1.1)
            }
        }
    }

    div.slide:hover {
        background: $highlight;
    }
}

.orange{
    background: $accent-red !important; 
}

div.contacts {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
    width: 100%;
    max-height: 300px;
    overflow: auto;

    > .contact {
        display: flex;
        max-height: 50px;
        max-width: 100%;
        padding: 10px 20px;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0;
        border-bottom: solid 1px $font-colour;
    
        .left{
            display: flex;
            align-items: center;
        }
        
        .pic {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 0 10px;
            background: $chat-bg;
            overflow: hidden;
    
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    
        div.profile h5{
            color: $caption-colour;
        }
    
        div.profile p {
            font-size: 0.6em;
            color: $font-colour;
        }
    
        .options{
            font-size: 1.4em;

            p{
                height: 35px;
                line-height: 30px;
            }
        }  
    }

    > .contact:hover{
        background: $highlight;
    }   
}

%contact-profile {
    display: flex;
    height: 60px;
    min-width: 100%;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    background: $profile-bg;
    // border-bottom: solid 1px $font-colour;

    .left{
        display: flex;
        align-items: center;
    }
    
    .pic {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0 10px;
        background: $chat-bg;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    div.profile h5{
        color: $caption-colour;
    }

    div.profile p {
        font-size: 0.6em;
        color: $font-colour;
    }

    .options{
        font-size: 1.4em;
        display: flex;

        div {
            height: 30px;
            width: 30px;
            background: $secondary-bg;
            margin-left: 5px;
            justify-content: center;
            display: flex;
            align-items: center;
            border-radius: 5px;
            
            img{
                height: 24px;
                width: 24px;
                object-fit: cover;
            }
        }
    }  
}

div.chat .header {
    @extend %contact-profile; 
}

div.msg-cont {
    width: 100%;
    min-height: 70vh;
    max-height: 70vh;
    padding: 20px;
    overflow-y: auto;

    div.msg{
        @extend %message;
    }

    div.msg.received {
        @extend %recipient;
    }

    div.msg.sent {
        @extend %sent;
    }

}

%message {
    width: fit-content;
    max-width: 80%;
    min-height: 30px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    clear: both;

    p {
        font-size: 0.8em;
        overflow-wrap: normal;
    }
}

div.msgInput {
    display: flex;
    min-width: 80%;
    max-width: 90%;
    min-height: 40px;
    margin: 0 auto;

    input, textarea{
        width: 90%;
        min-height: 30px;
        padding: 0 10px;
        margin-right: 5px;
        border: solid 1px $highlight;
        background: $primary-bg;
        border-radius: 10px 0 0 10px;
        outline: none;
        padding: 5px 10px;
        resize: none;
    }

    > div {
        background: $secondary-bg;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 0 10px 10px 0;

        img {
            width: 24px;
            height: 24px;
            transform: rotate(0);
            transition: .5s;
        }
    }

    > div:hover {
        // background: $highlight;
        img {
            transform: rotate(-45deg);
        }
    }

    > div.focus {
        img {
            transform: translateY(50px);
        }
    }
}